* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*************************************************
* MAIN
*************************************************/
body {
  height: 100vh;

  display: grid;
  grid-template: auto 1fr / minmax(auto, 300px) 1fr;
}
.sidebar {
  background-color: #1992d4;

  grid-row: 1 / -1;
}
.header {
  box-shadow: 0px 2px 5px rgb(168, 168, 168);
  z-index: 0;
}
.content {
  background-color: #e2e8f0;
}

/*************************************************
* SIDEBAR
*************************************************/
.sidebar {
  padding: 1.3rem;

  display: grid;
  gap: 3rem;
  grid-template-rows: auto auto auto;
  align-content: start;
}
.section {
  display: grid;
  gap: 10px;
}
.item {
  display: grid;
  grid-template-columns: 10% auto;
  justify-content: start;
  align-items: center;
  gap: 1.2rem;
}

/* ITEM LISTS */
.item img {
  height: 24px;
  width: 24px;
  justify-self: center;
}
.item img + div {
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}
.item img + div:hover {
  text-decoration: underline;
}

/* DASHBOARD TITLE */
.section:first-child .item img {
  height: 35px;
  width: 35px;
}
.section:first-child .item div {
  font-weight: bold;
  font-size: 1.3rem;
  cursor: default;
}
.section:first-child .item div:hover {
  text-decoration: none;
}

/*************************************************
* HEADER
*************************************************/
.header {
  padding: 1rem 2.5rem;
  display: grid;
  gap: 1rem;
}
/* TOP */
.top {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
}
.top .search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
}
.top .main-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  align-items: center;
}

/* BOTTOM */
.bottom {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 2rem;
}
.bottom .greeting {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  align-items: center;
}
.bottom .buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: center;
}

/* EACH THING */
input[type="search"] {
  max-width: 40rem;
  width: 1fr;
  border-radius: 12px;
  background-color: #e2e8f0;
  border: none;
  height: 1.6rem;
  padding-left: 10px;
  padding-bottom: 1px;
}
.main-buttons img[src="./images/pfp3.png"] {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.main-buttons div {
  font-weight: bold;
  letter-spacing: 0.3px;
  cursor: pointer;
}
.greeting img[src="./images/pfp3.png"] {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
}
.greeting > div > div {
  font-size: 1.2rem;
  font-weight: bold;
}
.greeting > div > div:first-of-type {
  font-size: 0.9rem;
  font-weight: 1;
}
button {
  background-color: #1992d4;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  border-radius: 25px;
  width: 6.5rem;
  height: 2.3rem;
  cursor: pointer;
}
img[src="./images/magnify.svg"] {
  cursor: pointer;
  vertical-align: -3px;
}
img[src="./images/bell-ring-outline.svg"] {
  cursor: pointer;
}

/*************************************************
* CONTENT
*************************************************/
.content {
  padding: 2rem 1rem;
  display: grid;
  grid-template: 1fr 1fr / 1fr auto;
  gap: 2rem 1rem;
}
.projects {
  grid-row: 1 / -1;
}

/* ANNOUNCEMENTS & TRENDING */
.trending > div:first-of-type,
.announcements > div:first-of-type {
  font-size: 1.2rem;
}
.trending > div:last-of-type,
.announcements > div:last-of-type {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 3px 2px 5px rgb(168, 168, 168);

  display: grid;
  align-content: start;
}
.announcements > div:last-of-type {
  padding: 0.7rem 2rem;
}
.trending > div:last-of-type {
  padding: 1.5rem 1.6rem;
}
.trending,
.announcements {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.8rem;
  width: 20rem;
}

/* ANNOUNCEMENTS */
.post {
  border-bottom: 1px solid lightgray;
  padding: 15px 0;

  display: grid;
  align-content: center;
  gap: 2px;
}
.post:last-of-type {
  border-bottom: none;
}
.post > div:first-of-type {
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
}
.post > div:last-of-type {
  color: rgb(88, 88, 88);
  font-size: 0.75rem;
}

/* TRENDING */
.person {
  display: grid;
  grid-template: auto auto / auto auto;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.person img[src] {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.person > div {
  display: grid;
  gap: 0.1rem;
}
.person > div > div:first-of-type {
  font-size: 0.82rem;
}
.person > div > div:last-of-type {
  font-size: 0.9rem;
  color: rgb(114, 114, 114);
}

* {
  /* border: 1px solid black; */
}
